@model IEnumerable<ChatBot.Models.Chat>
@{ Layout = null;
    ViewBag.Title = "Home page"; }


<style>
    .formStyle {
        position: absolute;
        width: 600px;
        height: 570px;
        left: 50%;
        top: 10%;
        background: #FFFFFF;
        border: 1px solid rgba(145, 99, 221, 0.6);
        box-sizing: border-box;
        border-radius: 18px;
        overflow-y: auto;
    }

    .txtBoxStyleRequest {
        right: 20px;
        background-color: honeydew;
        min-width: initial;
        max-width: 300px;
        border-radius: 18px 18px 0px 18px;
        padding: 7px;
        font-size: medium;
        position: relative;
        font-family: Verdana;
        font-style: normal;
        font-weight: normal;
        font-size: small;
        margin: 10px;
    }

    .txtBoxStyleResponse {
        padding: 7px;
        left: 20px;
        width: max-content;
        max-width: 300px;
        background: #F3F3F3;
        position: relative;
        border-radius: 18px 18px 18px 0px;
        font-size: small;
        font-family: Verdana;
        font-style: normal;
        font-weight: normal;
        margin: 10px;
    }

    .newDiv {
        justify-content: center;
        position: relative;
        width: 100%;
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        /*justify-content: flex-end;*/
    }

    .newDivRight {
        justify-content: flex-end;
        position: relative;
        width: 100%;
        display: flex;
        margin: 0px 0 0px 0;
    }

    .newDivLeft {
        left: 0;
        justify-content: flex-end;
        width: 100%;
        display: flex;
        margin: 0px 0 0px 0;
        /*justify-content: flex-end;*/
    }

    .btnStyle {
        border-color: #FAE9F4;
        background: #FAE9F4;
        border-radius: 8px;
        position: relative;
        display: inline-block;
        right: 0;
        max-width: 300px;
        border: 0;
        margin: 0 1px 0 1px;
        /* bottom:0;
      */
    }

    .btnTxt {
        font-family: Verdana;
        font-style: normal;
        font-size: small;
        color: #DF67B2;
        flex: none;
        order: 0;
        flex-grow: 0;
        border-style: none;
        padding: 7px;
        margin: 0;
    }

    .pseudoSnd {
        position: absolute;
        /*width: 116px;
        height: 57px;*/
        width: 15%;
        height: 10%;
        right: 10px;
        bottom: 10px;
        background: rgba(145, 99, 221, 0.1);
        border-radius: 18px;
        border-style: none;
    }

    div > .txtBoxStyle {
        color: red;
    }

    .arrow {
        /* Vector */
        position: absolute;
        left: 8.33%;
        right: 8.33%;
        top: 8.33%;
        bottom: 8.33%;
        border: 3px solid #9163DD;
    }

    .myLine {
        /* Vector */
        position: absolute;
        left: 45.83%;
        right: 8.33%;
        top: 8.33%;
        bottom: 45.83%;
        border: 3px solid #9163DD;
    }

    .newMsg {
        /* Rectangle 2 */
        padding: 10px;
        position: absolute;
        height: 57px;
        left: 70px;
        bottom: 10px;
        background: #F3F3F3;
        border-radius: 18px;
        width: 70%;
        resize: none;
        color: rgba(0, 0, 0, 0.21);
        font-family: Manrope;
        border-style: none;
        font-size: large;
    }

    .txtStyle {
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: small;
        /*        line-height: 31px;
    */ color: #000000;
    }

    .vertical-center {
        margin: 0;
        position: relative;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .psu-form {
        position: absolute;
        left: 10%;
        right: 78.1%;
        top: 10%;
        bottom: 39.83%;
        color: #9163DD;
        font-weight: bold;
        font-family: Arial;
    }

    .txtPsu {
        position: absolute;
        left: 10%;
        top: 40%;
    }
    /* картинка на странице */
    .minimized {
        width: 300px;
        cursor: pointer;
        border: 1px solid #FFF;
    }

        .minimized:hover {
            border: 1px solid yellow;
        }

    /* увеличенная картинка */
    #magnify {
        display: none;
        /* position: absolute; upd: 24.10.2016 */
        position: fixed;
        max-width: 600px;
        height: auto;
        z-index: 9999;
    }

        #magnify img {
            width: 100%;
        }

    /* затемняющий фон */
    #overlay {
        display: none;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        z-index: 9990;
    }

    /* кнопка закрытия */
    #close-popup {
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #AFAFAF;
        border-radius: 15px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
    }

        #close-popup i {
            width: 30px;
            height: 30px;
            background: url(https://codernote.ru/files/cross.png) no-repeat center center;
            background-size: 16px 16px;
            display: block;
        }

    @@keyframes rota {
        25% {
            transform: rotate(360deg);
        }
    }

    #close-popup:hover {
        animation: rota 4s infinite normal;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
</style>
<div class="psu-form">
    <img src="~/Pictures/Vector.png" style="float:left;padding-right:10px;" />
    POLOTSK<br />
    STATE<br />
    UNIVERSITY
</div>
<div class="txtPsu">
    <img src="~/Pictures/Привет! Меня зовут PSUHelper.png" width="450" />
</div>
<div>

    @using (Ajax.BeginForm("HandleButtonClick", "Chat",
        null, new AjaxOptions
        {
            UpdateTargetId = "results",
            InsertionMode = InsertionMode.InsertAfter
        },
    new { @class = "formStyle" }))
    {

        <div style="height: 87% ! important; overflow-y:auto ! important;overflow-x:hidden;">
            <div class="newDiv">
                <button type="submit" name="mine" value="1" class="btnStyle">
                    <div class="btnTxt"> Поехали!!!!!!!@*@Model.First().UserRequest*@</div>
                </button>
            </div>
            <div id="results"></div>
        </div>
        <div style="height: 13% ! important;">

            <button disabled class="pseudoSnd" height="50px" width="50px">
                <svg width=30px height=30px viewBox="0 0 28 28" fill="none" xmlns="https://www.w3.org/2000/svg">
                    <path d="M26.5 1.5L17.75 26.5L12.75 15.25L1.5 10.25L26.5 1.5Z" stroke="#9163DD" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <textarea disabled class="newMsg" align="center">Введите сообщение...</textarea>
            <button class="btnStyle" style="margin-top:10px;" type="submit" name="mine" value="999"><div class="btnTxt">Home</div></button>
        </div>}
</div>
@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
