@model IEnumerable<ChatBot.Models.Chat>
<div id="myresults">
    
        @*<p align="center" class="txtBoxStyle">@ViewBag.NextSelected.BotResponse</p>*@
    <div class="newDiv">
        @foreach (var item in @Model)
        {
            <button type="submit" name="mine" value=@item.Id class="btnStyle">
                <p>@item.UserRequest </p>
            </button>

        }
    </div>
</div>